body{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

p {
    margin: 16px 0px;
    padding: 16px 0px;
    text-align: center;
    font-size: 32px;
    font-style: normal;
    border-top: 1px groove blue;
    border-bottom: 3px groove navy;
}

.hidden {
    opacity: 0;
    font-size: 0px;
    padding: 0px;
    margin: 0px;
}

.player-move-image{
    transition-property: flex-direction, transform;
    transition-duration: 2s, 2s;
    transition-timing-function: ease;
}

.vs {
    display: block;
    opacity: 0;
    font-size: 0px;
    color: rgba(0, 0, 0);
    text-shadow: 3px 3px 3px rgb(128, 128, 128);
    padding: 0px;
    margin: 0px -500px;
    align-self: center;
    z-index: 3;
    /* transition-property: margin, font-size, opacity;
    transition-duration: 1.5s; */
    /* border: 3px solid rgb(0, 0, 0); */
}
.vs-transition{
    opacity: 1;
    /* font-size: 48px; */
    margin: 0px 0px; 
}

.computer-move-image{
    display: none;
    transform: scaleX(-1);
}

img, .play-buttons, .round-end-buttons {
    min-width: 360px;
    max-width: 720px;
    flex: 1 1 0;
}

img {
    margin: auto;
    width: 100%;
    height: auto;
    /* border: 1px solid blue; */
}

.play-buttons, .round-end-buttons {
    width: 100%;
    max-width: 640px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: start;
    column-gap: 16px;
    /* border: 1px solid green; */
    margin-top: 16px;
}
.round-end-buttons {
    flex-direction: column;
    align-items: center;
    justify-content: start;
}

button {
    max-width: 216px;
    min-width: 96px;
    width: 100%;
    height: auto;
    flex: 1 1 0;
    font-size: 20px;
}